<!DOCTYPE html>
<html>
<head>
  <title>Happy OMeter</title>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
  <%= stylesheet_link_tag 'custom', :media => 'screen' %>
</head>
<body>
<div class="container">
    <header>

       <%= image_tag("hmeter_logo_frompdf.png", :alt => "logo", :class => "round") %>
     

        <nav>
        <!--  <ul> -->
        <!--    <li><%= link_to "Home", '#' %></li>-->
        <!--    <li><%= link_to "Sign in", '#' %></li>-->
            <% if signed_in? %>
           <b>   <span style="float: right; "><%= link_to "Sign out", signout_path, :method => :delete %></span></b>
            <% end %>
            
        <!--  </ul> -->
        </nav>

          
      </header>
  
    <section class="round">
      <%= yield %>
    </section>

    <%= debug(params) if Rails.env.development? %>
  
</div>

<footer>
  <div class="container">
    Sawas Inc. <br>
    Sponsored by: GRRR Corporations<br>
    Dec 2011
</footer>

</body>
</html>
